.links {
    text-decoration: none;
    font-size: 25px;
}
.white {
    color: white;
    padding-left: 20px;
}
.white:hover {
    color: rgb(33,209,146);
}
.ps {
    font-size: 10px;
}

#botToTop {
    font-size: 40px;
    color: grey;
    position: fixed;
    top: 85%;
    left: 95%;
    cursor: pointer;
    display: none;
    animation: updown linear 2s infinite;
}

@keyframes updown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

#botToTop:hover {
    color: red;
}